@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');

body {
    overflow-x: hidden;
}

nav ul li a{
    margin-left: 50px;
}

nav form {
    display: flex;

}

.search-mobile{
    display: none;
}

nav .li-mobile {
    display: none;
}

nav p {
    display: none;    
}

nav form .btn-sign-up {
    background-color: #5F2EEA;
    margin-left: 5px;
    border: .5px #5F2EEA solid;
    border-radius: 10px;
    color: white;
}

.section2 p {
    font-family: 'Mulish', sans-serif;

}

.section2 .heading {
    color: #8692A6;
    font-size: 14px;
}

.section2 .detail p{
    font-size: 16px;
    font-weight: bold;
}

.btn-booknow {
    background-color: #5F2EEA;
    border-color: #5F2EEA;
    color: white;
    font-family: 'Mulish', sans-serif;
}

.btn-booknow:hover {
    color: white;
}

.btn-addcart {
    border-color: #5F2EEA;
    color: #5F2EEA;
    font-family: 'Mulish', sans-serif;
}

.btn-date {
    background-color: rgb(243, 232, 232);
}

.btn-location {
    background-color: rgb(243, 232, 232);
}

.btn-addcart:hover {
    background-color: #5F2EEA;
    color:white;
}

.btn-time a{
    color: black;
}

.card-img-top {
    height: 480px;
}

.view-all {
    width: 8%;
}

.view-all {
    color: #5F2EEA;
}

hr {
    width: 40%;
}

.explore p {
    font-size: 14px;
    color: #6E7191;
}

.section4 p {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
}

.section4 a {
    font-size: 14px;
    color: #6E7191;
}

.section4 h4 {
    font-family: 'Mulish', sans-serif;
    font-weight: bold;
}

footer p{
    color: #4E4B66;
    font-size: 14px;
    font-family: 'Mulish',sans-serif;
}

.follow-us-mobile {
    opacity: 0;
    
}

/*home*/
.p1{
    position: absolute;
    left: 18%;
    top: 37%;
    
    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 30px;
    
    /* Placeholder */
    color: #A0A3BD;
}

.section2 h1 {
    position: absolute;
    left: 18%;
    top: 42%;
    color: #5F2EEA;
    font-size: 42px;
}

hr {
    width: 80%;
    background-color:#5F2EEA;
    margin-left: 10px;
    
    
}

.card-title {
    font-size: 18px;
    text-align: center;
    font-family: "Mulish", sans-serif;
    font-weight: bolder;
}

.card-text{
    font-size: 12px;
    color: #A0A3BD;
    height: 35px;
}

.section5 p {
    font-family: "Mulish", sans-serif;
    font-size: 20px;
    color: #4E4B66;
}

.section5 h1 {
    color: #5F2EEA;
}

.section5 .p2 {
    font-family: "Mulish", sans-serif;
    font-size: 14px;
    color: #6E7191;
}

.section6 p {
    font-family: "Mulish", sans-serif;
    font-size: 14px;
    color: #6E7191;
}
.section6 h4 {
    font-family: "Mulish", sans-serif;
    font-size: 16px;
    font-weight: bolder;
}

.home-email {
    text-align: end;
}

.home-join {
    text-align: start;
}

.btn-email {
    border: 2px rgb(211, 211, 211) solid;
    border-radius: 5px;
    height: 41px;
    
}

.btn-join {
    background-color: #5F2EEA;
    border: 2px #5F2EEA solid;
    border-radius: 5px;
    color: white;
}

/*ticket*/
#col2 {
    background-color: #5F2EEA;
    padding-left: 15%;
    padding-right: 15%; 
    padding-top: 8%;
    padding-bottom: 8%;
}
#bgticket {
    width: 100%;
}

.headerticket img {
    height: 40px;
    padding-left: 40px;
    
}

.kiri p {
    font-family: 'Mulish', sans-serif;
}

.kiri .title {
    font-size: 14px;
}

.leftbottom {
    border: rgb(216, 213, 213) solid;
    border-width: 0px 0.5px 0.5px 0.5px;
    border-bottom-left-radius: 20px;
}

.rightbottom {
    border: rgb(216, 213, 213) solid;
    border-width: 0px 0.5px 0.5px 0px;
    border-bottom-right-radius: 20px;
}

.headerleft {
    border: #5F2EEA;
    border-width: 0.5px 0.5px 0px 0.5px;
    border-top-left-radius: 20px;    
}

.headerright {
    border: #5F2EEA;
    border-width: 0.5px 0px 0px 0.5px;
    border-top-right-radius: 20px;
}

.btn-download {
    width: 18%;
}

.btn-print {
    width: 10%;
}

/*payment*/
.btn-paypal-mobile {
    opacity: 0;
    position: absolute;
}
.payorder-mobile {
    display: none;
}
#payment-hr {
    width: 100%;
}
/*orderpage*/
.section-order-mobile {
    opacity: 0;
    position: absolute;
    display: none;
}

/*ticket*/
.ticket-mobile {
    display: none;
    background-color: #f7f7f7;
}
.barcode-horizontal {
    border-bottom: 2px #A0A3BD dashed;
}
.ticket-paper {
    margin: 10%;
    border-radius: 15px;
}
.ticket-heading-mobile {
    font-size: 12px;
    font-family: 'Mulish',sans-serif;
}
.ticket-detail-mobile {
    font-size: 14px;
    font-family: 'Mulish',sans-serif;
    margin-bottom: 20px;
}
.ticket-total {
    font-family: 'Mulish',sans-serif;

}
/*profil*/
.profil-mobile {
    display: none;
}

.rectangle1 {
    margin-left: 21.8%;
    margin-top: 2%;
    border-radius: 10px;
    background-color: #ae95f1;
    height: 110px;
    width: 240px;
}
.rectangle2 {
    background-color: #5F2EEA;
    position: absolute;
    top: 92%;
    left: 9.5%;
    height: 120px;
    width: 256px;
    border-radius: 10px;
}
.rectangle2 p{
    color: white;
    font-family: 'Mulish',sans-serif;
    font-size: 20px;
    font-weight: bold;
}
.rectangle2 p span{
    color: white;
    font-family: 'Mulish',sans-serif;
    font-size: 10px;
}
.circle1 {
    position: absolute;
    border:white solid;
    opacity: 20%;
    height: 100px ;
    width: 100px;
    top: 86.5%;
    left: 22%;
    background-color:white;
}
.circle2 {
    position: absolute;
    border:white solid;
    opacity: 30%;
    height: 100px ;
    width: 100px;
    top: 89%;
    left: 23%;
    background-color:white;
}
.star {
    position: absolute;
    top: 91.5%;
    left: 24%;
}
.btn-update-changes {
    width: 40%;
}
.order-history-cinemas-mobile {
    display: none;
}
@media only screen and (max-width: 576px) {
    /*navbar*/
    nav p{
        display: block;
        font-size: 12px;
        font-family: 'Mulish', sans-serif;
    }
    nav form {
        display: none;

    }
    nav .li-mobile {
        display: block;
    }
    .search-mobile{
        display: flex;
    }
    
    /*movie detail*/
    .btn-time a{
        margin-right: 5px;
    }
    .view-all {
        width: 13%;
    }
    hr {
        width: 30%;
    }
    /*last section*/
    .section4 .explore p {
        display: inline;
        margin-right: 20px;
    }
    .section4 .sponsor a {
        display: inline;
        margin-right: 20px;
    }
    .section4 .follow-us {
        padding-left: 10px;
    }
    .follow-us-mobile {
        opacity: 100;
    }
    .follow-us-web {
        opacity: 0;
    }
    /**/
    .section2 .kiri {
        position: relative;
    }
    .section2 .kiri h1 {
        margin-top: 20px;
    }
    .section2 .kanan {
        margin-top: 40px;
    }
    /*home*/
    .home-email {
        text-align: center;
    }
    .home-join {
        text-align: center;
        padding-top: 10px;
    }
    .btn-email{
        text-align: center;
    }
    /*payment*/
    #payment-info {
        opacity: 0;
        position: absolute;
    }
    .date-time {
        opacity: 0;
        position: absolute;
    }
    .movie-selected {
        opacity: 0;
        position: absolute;
    }
    .cinema-name {
        opacity: 0;
        position: absolute;
    }
    #payment-hr {
        opacity: 0;
        position: absolute;
    }
    .number-of-tickets {
        opacity: 0;
        position: absolute;
    }
    .btn-bank-mobile {
        opacity: 0;
        position: absolute;
    }
    .btn-paypal-web {
        opacity: 0;
        position: absolute;
    }
    .btn-paypal-mobile {
        opacity: 100;
        position: relative;
    }
    .btn-payment {
        opacity: 0;
        position: absolute;
    }
    .payorder-mobile {
        display: block;
    }
    /*orderpage*/
    .section-order-web {
        opacity: 0;
        position: absolute;
    }
    .section-order-mobile {
        opacity: 100;
        position: relative;
        padding-bottom: 20px;
        display: block;
    }
    /*ticket*/
    .ticket-mobile {
        display: block;
    }
    .ticket-web {
        display: none;
    }
    /*profil*/
    .profil-web {
        display: none;
    }
    .profil-mobile {
        display: inline;
    }
    .rectangle1 {
        margin-left: 28%;
        margin-top: 3%;
        background-color: #ae95f1;
        height: 110px;
        width: 240px;
        left: 32%;
    }
    .rectangle2 {
        background-color: #5F2EEA;
        position: absolute;
        top: 74.5%;
        left: 30.5%;
        height: 120px;
        width: 256px;
        border-radius: 10px;
    }
    .rectangle2 p{
        color: white;
        font-family: 'Mulish',sans-serif;
        font-size: 20px;
        font-weight: bold;
    }
    .rectangle2 p span{
        color: white;
        font-family: 'Mulish',sans-serif;
        font-size: 10px;
    }
    .circle1 {
        position: absolute;
        border:white solid;
        opacity: 20%;
        height: 100px ;
        width: 100px;
        top: 70%;
        left: 62%;
        background-color: white;
    }
    .circle2 {
        position: absolute;
        border:white solid;
        opacity: 30%;
        height: 100px ;
        width: 100px;
        top: 72%;
        left: 64%;
        background-color:white;
    }
    .star {
        position: absolute;
        top: 74%;
        left: 67%;
    }
    .btn-update-changes {
        width: 100%;
    }
    .order-history-cinemas-mobile {
        display: block;
    }
    .order-history-cinemas-web{
        display: none;
    }
    
}