@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300&display=swap');
* {
    margin: 0;
}
.signup {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://m.media-amazon.com/images/M/MV5BMTc5MDE2ODcwNV5BMl5BanBnXkFtZTgwMzI2NzQ2NzM@._V1_.jpg');
    height: 100vh;
    
    background-repeat: no-repeat;
    background-size: cover;
}

.section1 p {
    color: white;
    font-family: 'Mulish', sans-serif ;
}

.section1 span {
    color: white;
    font-family: 'Mulish', sans-serif ;
    font-size: 24px;    
}

.section1 span a{
    margin-right: 20px;
}

#form {
    left: 800px;
    top: 50px;
}
.form-control {
    width: 80%;
}

#btn-join {
    background-color: #5F2EEA;
    border-radius: 4px;
}

.logo-mobile {
    display: none;
}
#col1-sign-in {
    padding-top: 16%;
}
@media only screen and (max-width: 992px) {
    #col1 {
        display: none;
    }
    #col1-sign-in {
        display: none;
    }
    .btn-account {
        width: 100%;
    }
    .logo-mobile {
        display: block;
        margin-bottom: 50px;
    }
}